.signup-page {

.genre-dropdown-container .MuiSelect-select {
    font-family: 'Albert Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #151B54;
    border-radius: 4px; /* Or whatever the border-radius of your button is */
    padding: 10px 15px; /* Adjust padding to match your button */
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.genre-dropdown-container .MuiSelect-select span {
    color: #FFFFFF !important; /* Use !important to override inline style */
}

.genre-dropdown-container .MuiSelect-select:hover {
    background-color: green;
    color: white;
}
	min-height: 100vh;
	margin: 0;
	color: white;
	background-image: url('../images/background.png');
	background-size: cover;
	background-position: center;
}

h1 {
  text-align: center;
  /* Use clamp to ensure font size is responsive but doesn't get too large */
  font-size: clamp(2.5rem, 8vw, 4rem);
  margin: 0.25rem 0;
  word-wrap: break-word;
}

.better {
	color: red;
}

.reads {
	color: white;
}

h2 {
	font-size: small;
	text-align: center;
	font-style: italic;
	color:white;
}

.tagline {
	font-size: 1rem;
	font-style: italic;
	color: white;
	margin-bottom: 5rem;
	text-align: center;
}

.signup-container {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.signup-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup-information {
	background-color: #1e213d;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: 0 4px 12px white;
	width: 100%;
	max-width: 40%;
	max-height: 60%;
	box-sizing: border-box;
}

button {
	padding: 0.7rem 1.3rem;
	font-size: 0.9rem;
	font-weight: bold;
	border: none;
	border-radius: 6px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}


.form-row label {
	font-weight: bold;
	margin-right: 1rem;
	margin-bottom: 1.5rem;
}

.signup-form input {
	padding: 0.4rem;
	border-radius: 0.3rem;
	border: 1px solid #ccc;
	margin-bottom: 1rem;
}

.button-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
}

button:hover {
	background-color: #45a049;
}

.form-footer {
	text-align: center;
	margin-top: 1rem;
	font-size: 0.9rem;
	color: white;
}

.form-footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: stretch;
  }

  .form-row label {
    width: auto;
    margin-bottom: 0.5rem;
  }
}